
<div class="container">
    <div class="todo-list">

      <!-- <form action="">  this works too -->
      <!-- <form (ngSubmit)="add(); taskNgForm.reset()" #taskNgForm="ngForm" >  THIS CAN BE DONE TO CLEAR ENTIRE FORM-->
      <form (ngSubmit)="add(taskNgForm);" #taskNgForm="ngForm" #form>
        <div class="input-group">
        
          <input readonly name="date" [(ngModel)]="date" [matDatepicker]="picker">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          
        </div>
    
        <div class="input-group">
          <input #newTask="ngModel" required minlength="4" name="taskTitle" type="text" placeholder="Todo" [(ngModel)]="newTaskTitle">                
          <!-- <button class="add-button" (click)="add()">+</button> THIS WORKS TOO -->
          <button [disabled]="!form.checkValidity()" class="button button-primary">+</button>
        </div>
        <div class="validation-error" *ngIf="newTask.invalid && (newTask.touched || newTask.dirty)">
          <div *ngIf="newTask.errors?.['required']">
            Task title is required
          </div>
          <div *ngIf="newTask.errors?.['minlength']">
            Task title must have minimum 4 characters
          </div>
        </div>  

      </form>
  
      <table>
  
        <tr *ngFor="let task of tasks; let i = index" [class.even]="i%2==0" [class.odd]="i%2==1" >
          <td>
            <pre [class.is-done]="task.isDone" >{{task.title}}</pre>
          </td>
          <td>
            <button class="remove-button" (click)="remove(task)">x</button>
            <button class="done-button" (click)="markAsDone(task)">
              {{task.isDone?"Undo":"Done"}}
            </button>
          </td>
        </tr>
  
      </table>
  
    </div>
  </div>